@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #090d16;
  color: #ebe2cf;
  font-family: "Inter", sans-serif;
}

.material-symbols-outlined {
  font-variation-settings:
    "FILL" 0,
    "wght" 400,
    "GRAD" 0,
    "opsz" 24;
}
.material-symbols-outlined.filled {
  font-variation-settings:
    "FILL" 1,
    "wght" 400,
    "GRAD" 0,
    "opsz" 24;
}

.card-base {
  background-color: #111827;
  border: 1px solid #1f2937;
  border-radius: 12px;
}
